.jumbotron{
    background-color: #f39c12;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .brand-icon{
  
    font-size: 100px;
  }
  
  .search-bar{
    margin: auto;
   }

   .username{
     color: white;
     padding-right: 30px;
   }